---
title: Allgemeine Geschäftsbedingungen
---

<div class="row legal">
    <div class="col-xs-12">
       <p>
       <h1>Allgemeine Gesch&auml;ftsbedingungen</h1>
       								<h2>&sect; 1 Allgemeines</h2>
									<ol><li>F&uuml;r alle Lieferungen und sonstigen Leistungen gelten ausschlie&szlig;lich die nachstehenden
                                                                        allgemeinen Gesch&auml;ftsbedingungen.
                                                                        <li>Abweichende Bedingungen des Vertragspartners, die AVP GmbH nicht ausdr&uuml;cklich anerkennt,
                                                                        sind unverbindlich, auch wenn sie die AVP GmbH ihnen ausdr&uuml;cklich widerspricht.
                                                                        <li>Einbeziehung und Auslegung dieser allgemeinen Gesch&auml;ftsbedingung regelt sich ebenso wie Abschluss
                                                                        und Auslegung der Rechtsgesch&auml;fte mit dem Vertragspartner selbst ausschlie&szlig;lich nach dem Recht der
                                                                        Bundesrepublik Deutschlannd. Die Anwendung des einheitlichen Gesetzes &uuml;ber den Abschluss von
                                                                        internationalen Kaufvertr&auml;gen &uuml;ber bewegliche Sachen, des einheitlichen Gesetzes &uuml;ber den
                                                                        internationalen Kauf beweglicher Sachen des UN-Kaufrechts sind ausgeschlossen.
                                                                        <li>Die Unwirksamkeit einzelner Bestimmungen dieses Vertrages oder seiner Bestandteile l&auml;sst die
                                                                        Wirksamkeit der &uuml;brigen Regelungen unber&uuml;hrt. Die Vertragspartner sind im Rahmen des Zumutbaren
                                                                        nach Treu und Glauben verpflichtet, eine unwirksame Bestimmung durch eine ihrem wirtschaftlichen Erfolg
                                                                        geichkommende wirksame Regelung zu erseten, sofern dadurch keine wesentliche &Auml;nderung des Vertraginhaltes
                                                                        herbeigef&uuml;hrt wird; das gleiche gilt, falls ein regelungsbed&uuml;rftiger Sachverhalt nicht
                                                                        ausdr&uuml;cklich geregelt ist.
                                                                        <li>Erf&uuml;llungsort f&uuml;r alle sich mittelbar oder unmittelbar aus diesem Vertragsverh&auml;ltnis
                                                                        ergebenden Verpflichtungen, einschlie&szlig;lich der Zahlungspflicht, ist der Sitz der AVP GmbH.</li>
                                                                        <li>Gerichtsstand ist der f&uuml;r den Firmensitz der AVP GmbH zust&auml;ndige Gerichtsort. Die AVP GmbH
                                                                        ist auch berechtigt, vor einem Gericht zu klagen, welches f&uuml;r den Sitz oder eine Niederlassung des
                                                                        Vertragspartners zust&auml;ndig ist.
																			</ol>
       								<h2>&sect; 2 Angebote, Leistungsumfang und Vertragsabschlu&szlig;</h2>
		<ol>
                                                                        <li>Vertragsangebote der AVP GmbH sind freibleibend.
										<li>F&uuml;r den Umfang der vertraglich geschuldeten Leistung ist ausschlie&szlig;lich die
                                                                        Auftragsbest&auml;tigung der AVP GmbH ma&szlig;gebend.
										<li>&Auml;nderungen der Konstruktion, der Werkstoffwahl, der Spezifikation und Bauart beh&auml;lt sich die
                                                                        AVP GmbH auch nach Absendung einer Auftragsbest&auml;tigung vor, sofern diese &Auml;nderungen weder der
                                                                        Auftragsbest&auml;tigung noch der Spezifikation des Vertragspartners widersprechen. Der Vertragspartner
                                                                        wird sich dar&uuml;ber hinausgehenden &Auml;nderungsvorschl&auml;gen der AVP GmbH einverstanden erkl&auml;ren,
                                                                        soweit diese f&uuml;r den Vertragspartner zumutbar sind.
										<li>Teillieferungen sind zul&auml;ssig.
										<li>Die dem Angebot oder der Auftragsbest&auml;tigung zugrunde liegenden Unterlagen wie Abbildungen, Zeichnungen,
                                                                        Ma&szlig;- und Gewichtsangaben sind in der Regel nur als Ann&auml;herungswerte zu verstehen, sofern sie nicht
                                                                        ausdr&uuml;cklich als verbindlich bezeichnet werden.
		</ol>
       								<h2>&sect; 3 Preise und Zahlungsbedingungen</h2>
		<ol>
										<li>Die Preise gelten ab Werk ausschlie&szlig;lich Verpackung und sonstiger Versand- und Transportspesen. Die
                                                                        Verpackung wird zu Selbstkosten berechnet und nur zur&uuml;ckgenommen, wenn die AVP GmbH kraft zwingender
                                                                        gesetzlicher Regelung hierzu verpflichtet ist.
										<li>Liegen zwischen Vertragsschluss und Auslieferung mehr als 4 Monate, ohne dass eine Lieferverz&ouml;gerung
                                                                        der AVP GmbH von dieser zu vertreten ist, kann die AVP GmbH den Preis unter Ber&uuml;cksichtigung eingetretener
                                                                        Matrial-, Lohn oder sonstiger Nebenkosten, die von der AVP GmbH zu tragen sind, angemessen erh&ouml;hen.
                                                                        Erh&ouml;ht sich der Preis um mehr als 20%, ist der Vertragspartner berechtigt, vom Vertrag zur&uuml;ckzutreten.
										<li>Ber&uuml;cksichtigt die AVP GmbH &Auml;nderungsw&uuml;nsche des Vertragspartners, so werden die hierdurch
                                                                        entstehenden Mehrkosten dem Vertragspartner in Rechnung gestellt.
										<li>Bei schulkdhafter &Uuml;berschreitung der Zahlungsfrist werden unter Vorbehalt der Geltendmachung
                                                                        weitergehender Anspr&uuml;che Zinsen in H&ouml;he von 5% &uuml;ber dem jeweils geltenden Diskontsatz der
                                                                        Deutschen Bundesank veranlagt.
										<li>Bei Reparaturleistungen kann der Vertragspartner eine Kostengrenze setzen. Ergibt sich nach
                                                                        &Uuml;berpr&uuml;fung, dass eine Reparatur zu diesen Kosten nicht durchgef&uuml;hrt werden kann, so ist das
                                                                        Einverst&auml;ndnis des Vertragspartners f&uuml;r eine weitergehende Reparatur einzuholen.
                                                                        Kostenvoranschl&auml;ge sind in jedem Fall kostenpflichtig.
										<li>S&auml;mtliche Reparaturkosten werden nach Zeitaufwand und verwendetem Material berechnet. Die Kosten
                                                                        pro Arbeitsstunde sind in den Annahmer&auml;umen ausgeh&auml;ngt und k&ouml;nnen dem Vertragspartner gegen
                                                                        Kostenerstattung zugesandt werden.
		</ol>
       								<h2>&sect; 4 Aufrechnung und Zur&uuml;ckhaltung</h2>
		<ol>
                                                                        Aufrechnung und Zuru&uuml;ckhaltung sind ausgeschlossen, es sei denn, dass die Aufrechnungsforderungen
                                                                        unbestritten oder rechtskrf&auml;ftig festgestellt ist.
		</ol>
       								<h2>&sect; 5 Lieferfrist</h2>
		<ol>
										<li>Die Angabe eines Lieferzeitpunktes erfolgt nach bestem Ermessen und verl&auml;ngert sich angemessen,
                                                                        wenn der Vertragspartner seinerseits erforderliche oder verinbarte Mitwirkungshandlungen verz&ouml;gert
                                                                        oder unterl&auml;sst. Das gleiche gilt bei Ma&szlig;nahmen im Rahmen von Arbeitsk&auml;mpfen, insbesondere
                                                                        Streik und Aussperrung sowie beim Eintritt unvorhergesehener Hindernisse, die au&szlig;erhalb des Willens
                                                                        der AVP GmbH liegen, z.B. Lieferberz&ouml;gerungen eines Vorlieferanten, Verkehrs- und Betriebsst&ouml;rungen,
                                                                        Werkstoff- oder Energiemangel etc.. Auch vom Vertragspartner veranlasste &Auml;nderungen der gelieferten
                                                                        Waren f&uuml;hren zu einer angemessenen Verl&auml;ngerung der Lieferfrist.
										<li>Der Vertragspartner verpflichtet sich, ein zur Reparatur abgegebenes Ger&auml;t sp&auml;testens 2
                                                                        Monate nach Erhalt der Fertigstellungsmeldung azuholen. Erfolgt die Abholung nicht innerhalb deieser Frist,
                                                                        so wird der Vertragspartner noch einmal unter Setzen einer Nachfrist von 2 Wochen zur Abholung aufgefordert.
                                                                        Verstreicht auch diese Frist ungenutzt, so ist die AVP GmbH berechtigt, das Ger&auml;t freih&auml;ndig zu
                                                                        einem markt&uuml;blichen Preis zu ver&auml;u&szlig;ern und aus dem Verkaufserl&ouml;s die Reparaturkosten
                                                                        und die Kosten der Ver&auml;u&szlig;erung abzudecken. Ein Differenzbetrag wird dem Vertragspartner
                                                                        gutgeschrieben oder belastet.
		</ol>
       								<h2>&sect; 6 Gefahr&uuml;bergang</h2>
		<ol>
                                                                        Die Gefahr geht auf den Vertragspartner &uuml;ber, sobald die AVP GmbH die Ware dem Vertragspartner zur
                                                                        Verf&uuml;gung gestellt hat und diese dem Vertragspartner anzeigt.
										<li>Die AVP GmbH beh&auml;lt sich das Eigentum an den gelieferten Waren bis zur vollst&auml;ndigen
                                                                        Bezahlung vor. Der Eigentumsvorbehalt gilt auch, bis s&auml;mtliche, auch k&uuml;nftige und bedingte
                                                                        Forderungen aus der Gesch&auml;ftsverbindung zwischen dem Vertragspartner und der AVP GmbH erf&uuml;llt
                                                                        sind.
										<li>Der Vertragspartner ist zu Sicherungs&uuml;bereignung oder Verpf&auml;ndung der Ware nicht befugt, jedoch
                                                                        zur weiteren Ver&auml;u&szlig;erung der Vorbehaltsware im geordneten Gesch&auml;ftsgang berechtigt. Die
                                                                        hieraus gegen&uuml;ber seinen Gesch&auml;ftspartnern entsehenden Forderungen tritt er hiermit der AVP
                                                                        GmbH bereits ab.
										<li>Wird die Ware vom Vertragspartner be- oder verarbeitet, erstreckt sich der Eigentumsvorbehalt auch auf
                                                                        die gesamte neue Sache. Der Vertragspartner erwirbt Miteigentum zu dem Bruchteil, der dem Verh&auml;ltnis
                                                                        des Wertes seiner Ware zu dem von der AVP GmbH gelieferten Ware entspricht.
										<li>&Uuml;bersteigt der Wert s&auml;mtlicher f&uuml;r die AVP GmbH bestehenden Sicherheiten die bestehenden
                                                                        Forderungen nachhaltig um mehr als 10%, so wird die AVP GmbH auf Verlangen des Vertragsparners Sicherheiten
                                                                        nach Wahl der AVP GmbH freigeben.
										<li>Die AVP GmbH ist berechtigt, Eigentumsvorbehaltsrechte geltend zu machen, ohne vom Vertag
                                                                        zur&uuml;ckzutreten.
		</ol>
       								<h2>&sect; 8 Gew&auml;hrleistung</h2>
		<ol>
										<li>Ist der Vertrag f&uuml;r beide Teile ein Handelsgesch&auml;ft, so hat der Vertragspartner die Ware
                                                                        unverz&uuml;glich nach Erhalt, soweit dies nach ordnungsgem&auml;&szlig;em Gesch&auml;ftsgang tunlich ist,
                                                                        zu untersuchen, und, wenn sich ein Mangel zeigt, der AVP GmbH unverz&uuml;glich Anzeige zu machen.<br /><br />
                                                                        Unterl&auml;sst der Vertragspartner diese Anzeige, so gilt die Ware als genehmigt, es sei denn, dass es sich
                                                                        um einen Mangel handelt, des bei der Untersuchung nicht erkennbar war. Im &uuml;brigen gleten die
                                                                        &sect;&sect; 377 ff. HGB.
										<li>Die Gew&auml;hrleistungsanspr&uuml;che sind nach Wahl der AVP GmbH auf Nachbesserung oder
                                                                        Ersatzlieferung beschr&auml;nkt. Bei Fehlschlagen der Nachbesserung oder Ersatzlieferung hat der
                                                                        Vertragspartner das Recht, nach seiner Wahl Herabsetzung der Verg&uuml;tung ider R&uuml;ckg&auml;ngigmachen
                                                                        des Vertrages zu verlangen.
										<li>Weitergehende Anspr&uuml;che des Vertragspartners, insbesondere wegen Mangelfolgesch&auml;den, soweit
                                                                        diese nicht aus dem Fehlen zugesicherter Eigenschaften resultieren, sind ausgeschlossen. Dies gilt nicht
                                                                        bei Vorsatz, grober Fahrl&auml;ssigkeit oder Verletzungwesentlicher Vertragspflichten der AVP Gmbh.
										<li>Einen Gew&auml;hrleistungsanspruch muss der Vertragspartner bei Auftragserteilung zur Reparatur
                                                                        anmelden und diesen nach den jeweiligen Gew&auml;hrleistungsbedingungen des Ger&auml;teherstellers
                                                                        nachweisen. Nachtr&auml;gliche Gew&auml;hrleistungsanspr&uuml;che k&ouml;nnen nur mit Zustimmung des
                                                                        Herstellers anerkannt werden. In diesem Fall tr&auml;gt jedoch der Vertragspartner die Umbuchungskosten.
										<li>Wir gew&auml;hren auf die von uns durchgef&uuml;hrten Reparaturen Gew&auml;hrleistung von 12 Monaten,
                                                                        soweit es sich nachweislich um dieselbe Ursache eines somit nicht einwandfrei beseitigten Fehlers handelt.
                                                                        Sollten die verwendeten Ersatzteile schadhaft geworden sein, wird innerhalb der Reparaturgew&auml;hrleistungszeit
                                                                        die Reparatur ebenfalls kostenlos durchgef&uuml;hrt. Wenn es sich um eine andere Fehlerursache ofer um eine
                                                                        nicht einwandfrei ausgef&uuml;hrte Reparatur handelt, wird im Streitfalle eine Schlichtungsstelle bauftragt.
                                                                        Entstehende Kosten hat der unterlegene Vertragpartner zu tragen.
		</ol>
       								<h2>&sect; 9 Haftung</h2>
                                                                        Schadensersatzanspr&uuml;che des Vertragspartners sind ausgeschlossen. Dies gilt nicht bei Vorsatz, grober
                                                                        Fahrl&auml;ssigkeit, Verleatzung wesentlicher Vertragspflichten der AVP GmbH oder des Fehlens schriftlich
                                                                        zugesicherter Eigenschaften.
       								<h2>&sect; 10 Datenschutz</h2>
		<ol>
										<li>Bei Durchf&uuml;hrung der Reparatur kann es zu Datenverlusten kommen. Wie &uuml;bernehmen keine
                                                                        Haftung f&uuml;r die Sicherung eines vorhandenen Datenbestandes. Es unterliegt vielmehr allein der
                                                                        Verantwortung des Vertragpartners, vor Reparaturauftrag f&uuml;r eine erforderliche Datensicherung
                                                                        Sorge zu tragen. Das Wiederherstellen des Datenbestandes obliegt dem Vertragspartner.
										<li>Durch den Anwender verursachte Softwarefeheler oder Fehler, die durch Ver&auml;nderung der
                                                                        Systemeinstellungen oder Installation von Software, Treibern o. &auml;. verursacht wurden,
                                                                        unterliegt nicht der Garantiepflicht und sind somit kostenpflichtig.
                                                                        Die Daten des Vertragspartners unterliegen f&uuml;r die Auftragsabwicklung und Verkaufsstatistik
                                                                        der Datenverarbeitung.
		</ol>
       </p>
    </div>
	<div class="col-xs-12">
		<p>
			<h1>Allgemeine Geschäftsbedingungen Reparatur (AGBR)</h1>

			Diese Reparaturbedingungen gelten für sämtliche Reparaturmaßnahmen. Sie gelten auch für Reparaturen auf Grund eines Anspruches aus gesetzlichem Leistungsstörungsrecht oder aus Garantie soweit nachfolgend nicht anders angegeben.


			<h2>§1 Auftragserteilung</h2>

			<ol>
			<li>Einen eventuellen Anspruch aus dem gesetzlichen Leistungsstörungsrecht oder aus Garantie muss der Kunde bei Auftragserteilung anmelden und diesen unter Vorlage des Zahlungsbeleges bzw. der vollständigen Garantieunterlagen nachweisen.
			<li>Soweit keine ausreichende Fehlerbeschreibung vorliegt, gilt der Auftrag für alle Arbeiten, die wir für notwendig erachten, erteilt. Wir sind zur Behebung von Mängeln berechtigt, die sich während der Arbeiten zeigen, sofern die Behebung zum einwandfreien Funktionieren des zu reparierenden Gegenstandes notwendig ist.
				<li>Bei Auftragserteilung für eine kostenpflichtige Reparatur kann der Kunde einen Reparaturhöchstpreis setzen. Soweit dieser überschritten wird oder der zusätzliche Reparaturaufwand nicht in einem angemessenen Verhältnis zum Wert des zu reparierenden Gegenstandes steht, ist das Einverständnis des Kunden für eine weitergehende Reparatur einzuholen.
				<li>Bei einer kostenpflichtigen Reparatur ist das Einverständnis des Kunden auch einzuholen, wenn sich erst bei Ausführung der Arbeiten zeigt, dass der angestrebte Reparaturerfolg oder der Reparaturaufwand nicht in einem angemessenen Verhältnis zum Wert des zu reparierenden Gegenstandes steht. Der Kunde ist in diesem Falle zu Erstattung der bis dahin entstandenen Kosten verpflichtet.
				</ol>

				<h2>§ 2 Reparaturdurchführung</h2>

				<ol>
					<li>Wir sind berechtigt, die Reparatur in eigener oder fremder Werkstatt vorzunehmen.
					<li>Reparaturtermine sind stets unverbindlich, die endgültige Reparaturzeit ergibt sich aus dem tatsächlichen Reparaturaufwand.
				</ol>

					<h2>§ 3 Reparaturkosten und Zahlung</h2>

					<ol>
						<li>Sämtliche kostenpflichtige Reparaturen werden nach Zeitaufwand und verwendetem Material berechnet. Die Kosten pro Arbeitsstunde liegen in den Annahmeräumen aus.
						<li>Kostenpflichtig reparierte Geräte werden nur gegen Barzahlung oder Nachnahme ohne Abzug ausgeliefert.
					</ol>

						<h2>§ 4 Kostenvoranschläge; Kosten für nicht durchgeführte Aufträge:</h2>

			Da Fehlersuchzeit Arbeitszeit ist, wird der entsprechende Aufwand dem Kunden in Rechnung gestellt, wenn:


						<ol><li>der Kunde nach dem Kostenvoranschlag auf die Durchführung der Reparatur verzichtet.
							<li>der beanstandete Fehler bei der Überprüfung nicht festgestellt werden kann.
							<li>ein benötigtes Ersatzteil nicht mehr zu beschaffen ist.
							<li>ein Auftrag während der Durchführung zurückgezogen wurde.
							<li>keine, falsche oder unvollständige Fehlerangaben gemacht wurden.
						</ol>
			Wird nach einem Kostenvoranschlag auf Wunsch des Kunden die Reparatur nicht durchgeführt, so braucht der Reparaturgegenstand nicht mehr in den ursprünglichen Zustand versetzt werden, wenn dies technisch bzw. wirtschaftlich nicht vertretbar ist.


							<h2>§ 5 Reparaturgewährleistung</h2>

							<ol><li>Wir gewähren für die von uns durchgeführte Reparatur eine Garantie von 12 Monaten, soweit es sich nachweislich um denselben und somit nicht korrekt beseitigten Fehler handelt. Weitergehende Schadensersatzansprüche, die über den Reparaturgegenstand hinausgehen, sind nicht von der Garantie erfasst. Stellt sich bei der Reparatur heraus, dass der beanstandete Fehler eine andere Ursache hat, wird dem Kunden der entstandene Aufwand berechnet.
								<li>Ein Reparatur- Gewährleistungsanspruch muss der Kunde, soweit er Unternehmer, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen ist, innerhalb von 10 Werktagen ab Erkennbarkeit bei uns anmelden, ansonsten sind wir von der Mängelhaftung, sei es aus Garantie oder gesetzlicher Gewährleistung, befreit. Der Gewährleistungsanspruch erlischt weiterhin, wenn ohne unser Einverständnis von anderen Änderungen an den Leistungen vorgenommen wurden
								<li>Handelt es sich bei Kunden um einen Verbraucher im Sinne des §13 BGB, so erlöschen bei Nichtanmeldung der Ansprüche innerhalb von 10 Werktagen ab Erkennbarkeit nur die Garantieansprüche. Die gesetzlichen Gewährleistungsrechte bleiben davon unberührt.
							</ol>

								<h2>§ 6 Aufbewahrung und Abholung</h2>

			<ol><li> Wir sind berechtigt, reparierte Gegenstände an den Überbringer des Abholscheines oder eines anderen geeigneten Berechtigungsnachweises auszuhändigen.
				<li>Werden Reparaturen nicht innerhalb von 3 Wochen nach schriftlicher oder mündlicher Mitteilung über die Fertigstellung abgeholt, verlangen wir Lagerkosten. Wir haften ab diesem Zeitpunkt, soweit die Haftung nicht schon vorher aufgrund Annahmeverzuges, gemäß § 300 Abs. 1 BGB beschränkt ist, nicht für Abhandenkommen und Beschädigung des Reparaturgegenstandes, soweit uns kein Vorsatz oder grobe Fahrlässigkeit trifft. Übersteigen die Lagerkosten den Zeitwert des Gerätes abzüglich entstandener Reparaturkosten, erlischt unsere Aufbewahrungspflicht.
	</ol>

									<h2>§ 7 Ansprüche aus Leistungsstörungsrecht bei kostenpflichtigen Reparaturen</h2>

			<ol>
		<li>Ansprüche wegen Mängeln bei kostenpflichtigen Reparaturen verjähren innerhalb von einem Jahr nach Abnahme.
				<li>Das Recht des Kunden bei Mängeln beschränkt sich zunächst auf die Nacherfüllung. Erst bei Fehlschlagen der Nacherfüllung kann der Kunde Minderung der Vergütung oder Rücktritt vom Reparaturvertrag verlangen.
				<li>Schäden die durch unsachgemäße oder vertragswidrige Maßnahmen des Kunden im Rahmen von Transport, Aufstellung, Anschluss, Bedienung oder Lagerung hervorgerufen werden, begründen keinen Anspruch gegen uns. Die Unsachgemäßheit und Vertragswidrigkeit bestimmt sich insbesondere nach Angaben des Herstellers.
				<li>Durch den Kunden verursachte Softwarefehler oder Fehler, die durch Veränderung der Systemeinstellung oder Installation von Software, Treibern, weiteren Hardwarekomponenten o.ä. verursacht wurden, begründen keinen Anspruch des Kunden.
	</ol>

										<h2>§ 8 Haftung</h2>

			Schadenersatzansprüche sind ausgeschlossen, soweit der Werkunternehmer nicht vorsätzlich oder grob fahrlässig gehandelt hat oder soweit dadurch die Haftung für Verletzungen von Leben, Körper oder Gesundheit beeinträchtigt würde. Im Falle der Beschädigung des Reparaturgegenstandes sind wir zur kostenfreien Instandsetzung berechtigt. Soweit diese unmöglich oder mit unverhältnismäßig hohen Kosten verbunden ist, ist der Zeitwert am Tage der Beschädigung zu ersetzen.


											<h2>§ 9 Datensicherung</h2>

			Bei Durchführung der Reparatur kann es zu Datenverlusten kommen. Wir übernehmen keine Haftung für die Sicherung eines vorhandenen Datenbestandes. Es unterliegt vielmehr allein der Verantwortung des Kunden, vor Reparaturauftrag für eine erforderliche Datensicherung Sorge zu tragen. Das Wiederherstellen des Datenbestandes obliegt dem Kunden. Die Kosten für eine etwaige Wiederherstellung des Datenbestandes durch uns (sofern eine solche möglich ist) hat der Kunde zu tragen.


												<h2>§ 10 Speicherung von Daten</h2>

			Der Auftraggeber ist damit einverstanden, dass die personenbezogenen Daten aus diesem Reparaturvertrag von dem Auftragnehmer zum Zwecke der Nutzung im kaufmännischen Betrieb der Werkstatt auf Datenträger gespeichert werden. Die Weitergaben der gespeicherten Daten durch den Auftragnehmer an Dritte ist ausgeschlossen..


													<h2>§ 11 Gerichtsstandsvereinbarung</h2>

			Als Gerichtsstand gilt Bad Homburg v.H. als vereinbart, soweit der Vertragspartner Kaufmann, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen ist.


			Stand der AGBs 01.07.2014
		</p>
	</div>
</div>