---
title: Impressum
---

<div class="row legal">
    <div class="col-xs-12">
        <h1>Impressum </h1>

		<p>
		AVP GmbH<br>
		Otto Hahn Str. 2<br>
		D-61381 Friedrichsdorf<br>
		<br>
		Camcorder, Kaffeevollautomat, Smartphone, LCD,
		HiFi, Sat-Anlagen, Antennentechnik, Videoüberwachung<br>
		<br>
		Telefon <span class="tel">+49-61753356</span><br>
		Telefax +49-61751760<br>
		Web: <a href="http://www.avp-gmbh.de">www.avp-gmbh.de</a><br>
		E-Mail: <a href="mailto:info@avp-gmbh.de">info@avp-gmbh.de</a><br>
		<br>
		Handelsregister: Amtsgericht Bad Homburg HRB 2719<br>
		Geschäftsführer: Uwe Hasselt<br>
		Ust.Id-Nr.: DE 114123096<br>
		Steuer-Nr.: 0322868142<br>
		<br><br>
		Bankverbindung:<br>
		Commerz Bank Bad-Homburg<br>
		Konto-Nr.: 7 131 963 00<br>
		BLZ: 500 800 00<br>
		IBAN: DE71 5008 0000 0713 1963 00<br>
		BIC : DRESDEFFXXX<br>
		</p>
    </div>
</div>