---
title: Impressum
---

<div class="row">
    <div class="col-xs-12">
		<table>
			<tbody><tr>
				<td id="eins">Vertretungsberechtigter Geschäftsführer<br><br>
					Registergericht<br><br>
					Registernummer<br><br>
					Umsatzsteuer-Identifikationsnummer<br>
					gemäß § 23a Umsatzsteuergesetz
				</td>
				<td id="zwei" style="padding-left:10px">Uwe Hasselt<br><br>
					Amtsgericht Bad Homburg<br><br>
					HB 2719<br><br>
					DE 114123096<br><br>
				</td>
			</tr>
			</tbody>
		</table>
    </div>
</div>