---title: Index---
<section id="slider" class="flexslider">
	<ul class="slides">
		<li>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> Kaffeevollautomaten</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> Smartphones</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> DVD-/Bluray-Player</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>

<section id="supported-products">
	<div class="row">
        <div class="col-xs-12">
            <h1>Wir warten und reparieren</h1>
        </div>
    </div>
    <div class="row">
		<div class="col-lg-3 coffee"><i class="fa fa-coffee"></i> <h2>Kaffeevollautomaten</h2>
			<p>Wir führen für Sie eine professionelle Wartung und Reinigung Ihres Kaffee-Vollautomaten durch.</p>
        </div>
		<div class="col-lg-3 smartphones"><i class="fa fa-mobile"></i>  <h2>Smartphones</h2></div>
		<div class="col-lg-3 tv"><i class="fa fa-desktop"></i> <h2>Fernseher</h2></div>
		<div class="col-lg-3 video"><span class="glyphicon glyphicon-film"></span> <h2>Video-/DVD-/Bluray-Player</h2>
        </div>
	</div>
</section>
<section id="slogan">
	<div class="row">
        <div class="col-sm-12">
          <p>Unseren Meisterbetrieb gibt es seit 1982</p>
        </div>
	</div>
</section>
<section id="coffee-machines" class="product-section">
    <div class="row">
        <div class="col-lg-6 img">
            <img src="images/kmm_logo_neu.jpg" />
        </div>
        <div class="col-lg-6 process">
            <h1><i class="fa fa-coffee"></i> Kaffeevollautomaten</h1>
            <ol>
				<li><span>1</span><p>Sie bringen das Gerät vorbei.</p></li>
				<li><span>2</span><p>Wir ermitteln die anfallenden Reperaturkosten.
					<small>Wenn das Gerät nicht repariert wird, berechnen wir 25,00 Euro für die
						Kostenermittlung.</small></p>
				</li>
				<li><span>3</span><p>Die Reparatur wird zeitnah und kostenkünstig durchgeführt.</p></li>
				<li><span>4</span><p>Barzahlung bei Abholung</p></li>
            </ol>
			<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large">Kontakt aufnehmen</button>
        </div>
    </div>
</section>
<section id="smartphones" class="product-section">
	<div class="row">
		<div class="col-lg-6 img">
			<img src="images/spm_logo_neu.jpg" />
		</div>
		<div class="col-lg-6 process">
			<h1><i class="fa fa-mobile"></i> Smartphones</h1>
			<ul>
				<li><p>Displaytausch für <strong>EUR 99,-</strong></p></li>
				<li><p>Abholbereit innerhalb von 24 Stunden</p></li>
			</ul>
			<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large">Kontakt aufnehmen</button>
		</div>
	</div>
</section>
<section id="contact">
	<div class="row">
		<div class="col-xs-12">
			<h1>Kontakt & Anfahrt</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8"><i class="fa fa-location-arrow"></i> <h2>Ihr Weg zu uns</h2>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2549.679773510653!2d8.655009200000002!3d50.27923755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd00d221c8c06f%3A0xc5b02bc52a0cb0ec!2sAVP+Audio+Video+Partner+GmbH!5e0!3m2!1sde!2sde!4v1395614596867" width="100%" height="300" frameborder="0" style="border:0"></iframe>
        </div>
		<div class="col-lg-4"><i class="fa fa-envelope"></i>  <h2>Nehmen Sie Kontakt auf</h2>
			<div class="vcard">
				<p class="adr">
					<span class="street-address">Otto-Hahn-Straße 2</span>
					<span class="postal-code">61381</span>
					<span class="locality">Friedrichsdorf</span>
				</p>
				<p class="tel">+49 61 75 33 56</p>
				<p class="email"><a href="mailto:info@avp-gmbh.de">info@avp-gmbh.de</a></p>
			</div>
		</div>
	</div>
</section>
<div class="container-fluid container-fluid-2">
	<div class="container">
		<div class="row-fluid">
          <span class="span12">
            <div class="pull-left">
				<p>© AwesomeCo</p>
			</div>
            <ul class="nav nav-pills pull-right">
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Privacy</a>
				</li>
				<li>
					<a href="#">Terms Of Service</a>
				</li>
			</ul>
          </span>
		</div>
	</div>
</div>
