---title: Index---
<section id="slider" class="flexslider">
	<ul class="slides">
		<li>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> Kaffevollautomaten</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
					</div>
				</div>
			</div>
		</li>
		<li class="video">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> und das seit 1982</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
					</div>
				</div>
			</div>
            <div class="video-overlay"></div>
            <video class="video-container" width="100%" height="100%" src="images/video/avp.mp4"
                   type="video/mp4" preload="metadata" autoplay="autoplay" loop="loop"
                   style="width: 100%;display:inline-block"></video>
		</li>
	</ul>
</section>

<section id="supported-products">
	<div class="row">
        <div class="col-xs-12">
            <h1>Wir warten und reparieren</h1>
        </div>
    </div>
    <div class="row">
		<div class="col-lg-3"><i class="fa fa-coffee"></i> <h2>Kaffeevollautomaten</h2>
			<p>Wir führen für Sie eine professionelle Wartung und Reinigung Ihres Kaffee-Vollautomaten durch.</p>
        </div>
		<div class="col-lg-3"><i class="fa fa-mobile"></i>  <h2>Smartphones</h2></div>
		<div class="col-lg-3"><i class="fa fa-desktop"></i> <h2>Fernseher</h2></div>
		<div class="col-lg-3"><span class="glyphicon glyphicon-film"></span> <h2>Video-/DVD-/Bluray-Player</h2>
        </div>
	</div>
</section>
<section id="slogan">
	<div class="row">
        <div class="col-sm-12">
          <p>Unseren Meisterbetrieb gibt es seit 1982</p>
        </div>
	</div>
</section>
<section id="coffee-machines">
    <div class="row">
        <div class="col-lg-6 img">
            <img src="images/kmm_logo_neu.jpg" />
        </div>
        <div class="col-lg-6">
            <h1><i class="fa fa-coffee"></i> Kaffeemaschine</h1>
            Wir gehören zu den Machern.
            <p>So läuft es bei uns</p>
            <ol>
				<li>Sie bringen das Gerät vorbei</li>
				<li>Wir schauen uns das Gerät an und ermitteln die anfallenden Reperaturkosten
                <small>Sollten Sie sich gegen die Reparatur entscheiden, fallen EUR 25 an</small>
                </li>
                <li>Wir führen die Reparatur qualitätsbewusst und zeitnah durch</li>
                <li>Sie bekommen von uns einen Anruf / eine E-Mail, wenn Ihre Maschine zum Abholen bereit ist.</li>
                <li>Sie bezahlen bar oder per EC-Karte bei der Abholung</li>
                <li>Sie genießen Ihren wohlverdienten Kaffee.</li>
            </ol>
        </div>
    </div>
</section>
<div class="container-fluid container-fluid-2">
	<div class="container">
		<div class="row-fluid">
          <span class="span12">
            <div class="pull-left">
				<p>© AwesomeCo</p>
			</div>
            <ul class="nav nav-pills pull-right">
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Privacy</a>
				</li>
				<li>
					<a href="#">Terms Of Service</a>
				</li>
			</ul>
          </span>
		</div>
	</div>
</div>
