---title: Index---

<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">AVP</a>
		<ul class="nav navbar-nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					Reparatur <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>Kaffeevollautomaten</li>
					<li>Smartphones</li>
					<li>Fernseher</li>
				</ul>
			</li>
			<li>
				<a href="#" class="a-1 a-2">Kontakt</a>
			</li>
			<li>
				<a href="#" class="a-2">Anfahrt</a>
			</li>
			<li>
				<a href="#" class="a-2">Die Macher</a>
			</li>
			<li>
				<a href="#" class="a-2">Wer wir sind</a>
			</li>
		</ul>
	</div>
</div>
<section id="slider" class="flexslider">
	<ul class="slides">
		<li>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> Kaffevollautomaten</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> Kaffevollautomaten</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>
<div class="container container-1">
	<div class="row-fluid">
        <span class="span4">
          <h2 class="heading">
			  <span></span>
		  </h2>
          <div>
			  <span></span>
		  </div>
          <span></span> <i class="icon icon-envelope-alt pull-center"></i>
          <p>Product benefit number one.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque
			  lacinia elit, at gravida.</p>
        </span>
        <span class="span4"> <i class="icon icon-magnet pull-center"></i>
          <h2 class="heading">Benefit Two</h2>
          <p>Product benefit number two.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque
			  lacinia elit, at gravida.</p>
        </span>
        <span class="span4">
          <h2 class="heading">Benefit Three</h2>
          <p>Product benefit number one.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque
			  lacinia elit, at gravida.</p>
        </span>
	</div>
</div>
<div class="container container-2">
	<div class="row-fluid">
        <span class="span12">
          <p>Our philosophy here.&nbsp;Curabitur vel consequat tortor. Aliquam. Erat. Volutpat.</p>
        </span>
	</div>
</div>
<div class="container-fluid container-fluid-2">
	<div class="container">
		<div class="row-fluid">
          <span class="span12">
            <div class="pull-left">
				<p>© AwesomeCo</p>
			</div>
            <ul class="nav nav-pills pull-right">
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Privacy</a>
				</li>
				<li>
					<a href="#">Terms Of Service</a>
				</li>
			</ul>
          </span>
		</div>
	</div>
</div>
