---title: Index---
<section id="slider" class="flexslider">
	<ul class="slides">
		<li>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> Kaffee&shy;voll&shy;automaten</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
						<button onclick="window.location.href='#coffee-machines'" class="btn btn-primary btn-large pull-right">Mehr erfahren</button>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> Smartphones</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
						<button onclick="window.location.href='#smartphones'" class="btn btn-primary btn-large pull-right">Mehr erfahren</button>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1 class="heading pull-left"><span>Wir reparieren</span> LCD-/DVD-Blueray Recorder</h1>
					</div>
					<div class="col-md-6 span6-1">
						<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large pull-right">Kontakt aufnehmen</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>

<section id="supported-products">
	<div class="row">
        <div class="col-xs-12">
            <h1>Wir warten und reparieren</h1>
        </div>
    </div>
    <div class="row">
		<a href="#coffee-machines"><div class="col-lg-4 coffee"><i class="fa fa-coffee"></i> <h2>Kaffeevollautomaten</h2></div></a>
		<a href="#smartphones"><div class="col-lg-4 smartphones"><i class="fa fa-mobile"></i>  <h2>Smartphones</h2></div></a>
		<a href="#contact"><div class="col-lg-4 video"><span class="glyphicon glyphicon-film"></span> <h2>LCD-/DVD-Blueray Recorder</h2></div></a>
	</div>
</section>
<section id="slogan">
	<div class="row">
        <div class="col-sm-12">
          <p>Unseren Meisterbetrieb gibt es seit 1982</p>
        </div>
	</div>
</section>
<section id="coffee-machines" class="product-section">
    <div class="row">
        <div class="col-lg-6 img">
            <img src="images/kmm_logo_neu.jpg" />
        </div>
        <div class="col-lg-6 process">
            <h1><i class="fa fa-coffee"></i> Kaffeevollautomaten</h1>
            <ol>
				<li><span>1</span><p>Sie bringen das Gerät zu uns.</p></li>
				<li><span>2</span><p>Wir ermitteln die anfallenden Reparaturkosten.
					<small>Wenn das Gerät nicht repariert wird, berechnen wir <span class="price">25,00 &euro;</span> für die
						Kostenermittlung.</small></p>
				</li>
				<li><span>3</span><p>Die Reparatur wird zeitnah und kostengünstig durchgeführt.</p></li>
				<li><span>4</span><p>Barzahlung bei Abholung</p></li>
            </ol>
			<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large">Kontakt aufnehmen</button>
        </div>
    </div>
</section>
<section id="smartphones" class="product-section">
	<div class="row">
		<div class="col-lg-6 img">
			<img src="images/spm_logo_neu.jpg" />
		</div>
		<div class="col-lg-6 process">
			<h1><i class="fa fa-mobile"></i> Smartphones</h1>
			<p>Unsere Leistungen &amp; Preise für iPhone 3G, 3GS, 4 und 4S</p>
			<ul>
				<li><p>Displaytausch für <strong class="price">nur 99,00 &euro;</strong></p></li>
				<li>
					<ul>
						<li>Ersetzen des Ein-/Aus-Schalters</li>
						<li>Ersetzen des Mute/Kipp-Schalters</li>
						<li>Austausch des Home Buttons</li>
						<li>Austausch des Akkus</li>
						<li>Austausch des Dock Connectors</li>
						<li>Austausch des Kopfhöreranschlusses</li>
						<li>Austausch des Hörer-Lautsprechers</li>
						<li>Austausch des Lautsprechers</li>
						<li>Austausch des Mikrofons</li>
						<li>Austausch des Vibrationsmotors</li>
						<li>Austausch des Lichtsensors/Annäherungssensors</li>
						<li>Austausch der hinteren Kamera bei 4 und 4S</li>
						<li>Austausch der vorderen Kamera bei 4 und 4S</li>
					</ul>
					<strong class="price">nur 59,00 &euro;</strong>
				</li>
				<li><p>Eine Kostenermittlung beträgt <strong class="price">25,00 &euro;</strong></p></li>
			</ul>
			<p>Für iPhone 5 Serie und Samsung die Preise bitte anfragen.</p>
			<button onclick="window.location.href='#contact'" class="btn btn-primary btn-large">Kontakt aufnehmen</button>
		</div>
	</div>
</section>
<section id="whoweare">
	<div class="row">
		<div class="col-xs-12">
			<h1>Wer wir sind</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<img src="images/aussen.jpg" alt="Die AVP-Werkstatt von außen"/>
		</div>
		<div class="col-lg-6 text">
            <p>Als Informations- und Elektronikbetrieb der Audio und Videotechnik haben wir uns zusätzlich auf
			Kaffeevollautomaten und Smartphones Reparaturen spezialisiert.<p>
			<p>Aufgrund unserer Erfahrung sind wir in der Lage Kaffeevollautomaten aller namhafter Hersteller
            zu reparieren und warten.</p>
			<p>Als Meisterbetrieb mit mehr als 30 Jahren Berufserfahrung werden sie von uns fachkundig und
			kompetent beraten.</p>
			</p>Die Firma AVP GmbH ist Partner für Handel und Privatkunden.</p>
		</div>
	</div>
</section>
<section id="contact">
	<div class="row">
		<div class="col-xs-12">
			<h1>Kontakt & Anfahrt</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8"><i class="fa fa-location-arrow"></i> <h2>Ihr Weg zu uns</h2>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2549.679773510653!2d8.655009200000002!3d50.27923755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd00d221c8c06f%3A0xc5b02bc52a0cb0ec!2sAVP+Audio+Video+Partner+GmbH!5e0!3m2!1sde!2sde!4v1395614596867" width="100%" height="300" frameborder="0" style="border:0"></iframe>
        </div>
		<div class="col-lg-4"><i class="fa fa-envelope"></i>  <h2>Nehmen Sie Kontakt auf</h2>
			<div class="vcard">
				<p class="adr">
					<span class="street-address">Otto-Hahn-Straße 2</span>
					<span class="postal-code">61381</span>
					<span class="locality">Friedrichsdorf/Köppern</span>
				</p>
				<p class="tel">+49 61 75 33 56</p>
				<p class="tel"><span class="type">Fax</span> +49 61 75 17 60</p>
				<p class="email"><a href="mailto:info@avp-gmbh.de">info@avp-gmbh.de</a></p>
			</div>
            <h2>Geschäftszeiten</h2>
            <ul>
                <li><strong>Mo. bis Fr.:</strong> 08:30 bis 17:00 Uhr</li>
                <li><strong>Sa.:</strong> Termin nach Vereinbarung</li>
            </ul>
            <p>
				</p>
		</div>
	</div>
</section>
