<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <title>{{title}} | AVP GmbH Friedrichsdorf</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css({.tmp,src}) css/styles.css -->
		<link rel="stylesheet" href="bower_components/flexslider/flexslider.css">
        <link rel="stylesheet" href="css/styles.css">
        <!--[if lte IE 8]>
        <link rel="stylesheet" media="screen" type="text/css" href="css/ie.css" />
        <![endif]-->
        <!-- endbuild -->
        <!-- build:js js/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <script>
        /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
        window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!!t.document.createElementNS&&!!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect&&!!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1"),A=function(A){var o=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];o.rel="stylesheet",o.href=e[A&&n?0:A?1:2],r.parentNode.insertBefore(o,r)},o=new t.Image;o.onerror=function(){A(!1)},o.onload=function(){A(1===o.width&&1===o.height)},o.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
        grunticon( [ "images/svg-build/icons.data.svg.css", "images/svg-build/icons.data.png.css", "images/svg-build/icons.fallback.css" ] );</script>
        <noscript><link rel="stylesheet" href="images/svg-build/icons.fallback.css"></noscript>
    </head>
    <body>
    <!--[if lte IE 8]>
		<div class="oldbrowser-notification">
			<p>
			   <strong>Hinweis:</strong> Sie benutzen einen alten Browser und sehen eine reduzierte Version der Website. Installieren Sie doch einen aktuellen Browser: <a href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home">Internet Explorer</a>, <a href="http://www.mozilla.org/de/firefox/new/">Firefox</a>,  <a href="http://www.apple.com/de/safari/">Safari</a>, <a href="https://www.google.com/intl/de/chrome/browser/">Chrome</a>
			</p>
		</div>
    <![endif]-->

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Menü ein-/ausblenden</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">AVP<span>Audio Video Partner GmbH</span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#supported-products" data-target="#">
                                Reparatur <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#coffee-machines">Kaffeevollautomaten</a></li>
                                <li><a href="#smartphones">Smartphones</a></li>
                                <li><a href="#contact">TV- &amp; Videogeräte</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#whoweare" class="a-2">Wer wir sind</a>
                        </li>
                        <li>
                            <a href="#contact" class="a-1 a-2">Kontakt</a>
                        </li>
                        <li>
                            <a href="#contact" class="a-2">Anfahrt</a>
                        </li>
						<li>
							<a href="http://eshop2.euras.com/default.php?id=11606" class="a-2">Ersatzteile bestellen</a>
						</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        {{> body }}
		<footer id="footer" class="container-fluid container-fluid-2">
			<div class="container">
				<div class="row-fluid">
          <span class="span12">
            <div class="pull-left">
				<p>AVP GmbH - Friedrichsdorf</p>
			</div>
            <ul class="nav nav-pills pull-right">
				<li>
					<a href="/impressum.html">Impressum</a>
				</li>
				<li>
					<a href="/agb.html">AGB</a>
				</li>
			</ul>
          </span>
				</div>
			</div>
		</footer>
        <!-- build:js js/vendor/jquery.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <!-- endbuild -->
		<!-- build:js js/vendor/flexslider.js -->
		<script src="bower_components/flexslider/jquery.flexslider.js"></script>
		<!-- endbuild -->
        <!-- build:js js/vendor/bootstrap.js -->
        <script src="bower_components/bootstrap-sass/dist/js/bootstrap.js"></script>
        <!-- endbuild -->
        <!-- build:js js/main.js -->
        <script src="js/main.js"></script>
        <!-- endbuild -->
        <!-- build:js js/plugins.js -->
        <script src="js/plugins.js"></script>
        <!-- endbuild -->
    </body>
</html>
