@charset "UTF-8";

@import '../bower_components/bootstrap-sass/lib/bootstrap';
@import '../bower_components/bootstrap-sass/lib/_theme.scss';
@import '../bower_components/fontawesome/scss/font-awesome.scss';


$avp-dark-red: #B20000;

@import 'modules/navbar';
@import 'modules/slider';
@import 'modules/supported-products';
@import 'modules/slogan';
@import 'modules/product-section';
@import 'modules/coffee-machines';
@import 'modules/smartphones';
@import 'modules/contact';
@import 'modules/footer';
@import 'modules/legal';


body {
  padding-left: 0;
  padding-right: 0;
  background-image: url(../images/bg.png);
  background-position: fixed;

  > section {
    margin-bottom: 20px;
  }
}

p, div, span {
  color: #666666;
}

.container.container-1 {
  margin-top: 60px;
}

.container-1 .row-fluid .span4 .heading {
  font-weight: normal;
  font-size: 29px;
  text-align: center;
  color: #454545;
}
.container-1 .row-fluid .span4 .icon.icon-envelope-alt {
  font-size: 84px;
  color: #4a7a07;
  height: 84px;
  width: 131px;
}
.container-1 .row-fluid .span4 p {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}
.container-1 .row-fluid .span4 .icon.icon-magnet {
  font-size: 66px;
  color: #d20000;
  height: 66px;
  width: 87px;
}
.container-fluid.container-fluid-2 {
  background: #A60400;
  padding: 30px 20px 30px 20px;
}
.container-fluid-2 .container .row-fluid .span12 .pull-left p {
  font-weight: 300;
  color: #ffffff;
  line-height: 36px;
}
.container-fluid-2 .container .row-fluid .span12 .nav {
  margin: 0px;
}