@charset "UTF-8";

@import '../bower_components/bootstrap-sass/lib/bootstrap';
@import '../bower_components/bootstrap-sass/lib/_theme.scss';
@import '../bower_components/fontawesome/scss/font-awesome.scss';

$avp-dark-red: #B20000;
$avp-font-color: #666666;

@import 'util';

body {
    padding-left: 0;
    padding-right: 0;
    background-image: url(../images/bg.png);
    overflow-x: hidden;

    > section {
      margin-bottom: 20px;

      .row {
          margin-left: 0;
          margin-right: 0;

          [class*="col-"] {
              padding-left: 0;
              padding-right: 0;
          }
      }
    }
  }

@import 'modules/navbar';
@import 'modules/slider';
@import 'modules/supported-products';
@import 'modules/slogan';
@import 'modules/product-section';
@import 'modules/coffee-machines';
@import 'modules/smartphones';
@import 'modules/whoweare';
@import 'modules/contact';
@import 'modules/footer';
@import 'modules/legal';


p, div, span {
  color: $avp-font-color;
}

.container.container-1 {
  margin-top: 60px;
}

.container-1 .row-fluid .span4 .heading {
  font-weight: normal;
  font-size: 29px;
  text-align: center;
  color: #454545;
}
.container-1 .row-fluid .span4 .icon.icon-envelope-alt {
  font-size: 84px;
  color: #4a7a07;
  height: 84px;
  width: 131px;
}
.container-1 .row-fluid .span4 p {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}
.container-1 .row-fluid .span4 .icon.icon-magnet {
  font-size: 66px;
  color: #d20000;
  height: 66px;
  width: 87px;
}
.container-fluid.container-fluid-2 {
  background: #A60400;
  padding: 30px 20px 30px 20px;
}
.container-fluid-2 .container .row-fluid .span12 .pull-left p {
  font-weight: 300;
  color: #ffffff;
  line-height: 36px;
}
.container-fluid-2 .container .row-fluid .span12 .nav {
  margin: 0px;
}

@media (max-width: $screen-sm-max) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
}
