#coffee-machines {

  .img {
    text-align: center;

    @include old-ie {
      text-align: left;
      padding-left: 80px;
      margin-bottom: 50px;
    }
  }

  .mein-macher {
    margin-top: 1em;
  }

  .fa {
    color: saddlebrown;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .process {
    ol {
      padding-left: 40px;
    }

    h1, button {
      margin-left: -19px;
    }

    @media (max-width: $screen-md-max) {
      padding-left: 80px;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 40px;
    }


    @include old-ie {
      padding-left: 80px;
    }
  }

  ol {
    list-style-type: none;
    padding: 0;
    border-left: 1px solid $avp-dark-red;

    li {
      position: relative;
      margin-bottom: 3em;
      font-size: 20px;

      small {
        display: block;
      }

      > span {
        background: $avp-dark-red;
        display: inline-block;
        width: 2em;
        height: 2em;
        color: white;
        position: absolute;
        margin-left: -60px;
        text-align: center;
        line-height: 2em;
      }
    }
  }
}