
#contact {

  h1 {
    background: #B20000;
    color: white;
    padding: 0.5em;
  }

  h2 {
    display: inline-block;
    margin-bottom: 1em;
  }

  .row {
    text-align: center;
    font-size: 16px;
  }

  .col-lg-4 {
    text-align: left;
    font-size: 20px;
  }

  .fa {
    font-size: 30px;
    margin-right: 0.5em;
  }

  .street-address {
    display: block;
  }

  .tel:before {
    content: "\f095";
    font-family: FontAwesome;
    line-height: 1;
    font-style: normal;
    margin-right: 0.5em;
  }

  .email:before {
    @extend .tel:before;
    content: "@";
  }

  .vcard {
    p {
      margin-bottom: 1.5em;
    }
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0;
  }

  a, a:link, a:visited {
    color: $avp-dark-red;
  }

  a:hover {
    color: red;
  }

  .col-lg-4 {
    @media (max-width: $screen-md-max) {
      padding-left: 80px;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 40px;
    }

    @include old-ie {
      padding-left: 80px;
    }
  }
}