#footer {
  .nav > li > a {
    border-radius: 0;
    &:link, &:visited {
      color: white;
    }
    &:hover, &:focus {
      text-decoration: none;
      background-color: white;
      color: $avp-dark-red;
    }
  }
}