.navbar-default .navbar-nav > .dropdown {
  &> a {
    &:hover .caret, &:focus .caret, .caret {
      border-top-color: #fff;
      border-bottom-color: #fff;
    }
  }
}

.navbar {
  height: 80px;
  background: red;
  border-radius: 0;

  .navbar-brand {
    font-weight: bold;
    line-height: 40px;
    font-family:"arial";
    font-size: 50px;
    font-style: italic;
    color: #ffffff;
    text-shadow: 4px 0px 1px #7c7c7c;
    margin: 0;
  }

  .navbar-nav {
    font-size: 18px;

    > li a {
      &:link, &:visited {
        color: #fff;
      }
    }
  }

  .navbar-collapse {
    @media (max-width: $screen-xs-max) {
      background-color: red;
      z-index: 1000;
      position: relative;
    }
  }
}
.navbar .navbar-inner {
  height: 80px;
  padding: 20px;
  font-size: 18px;
}