.navbar-default {
  .navbar-toggle {
    border-color: white;
    border-radius: 0;
    .icon-bar {
      background-color: white;
    }
    &:hover, &:focus {
      background-color: $avp-dark-red;
    }
  }

  .navbar-nav {
    > .dropdown {
      &> a {
        &:hover .caret, &:focus .caret, .caret {
          border-top-color: #fff;
          border-bottom-color: #fff;
        }
      }
    }

    > .open {
      > a, > a:link, > a:hover, > a:focus {
        background-color: white;
        color: $avp-dark-red;

        .caret {
          border-top-color: $avp-dark-red;
          border-bottom-color: $avp-dark-red;
        }
      }
    }
  }
}

.navbar {
  height: 80px;
  background: red;
  border-radius: 0;

  .navbar-brand {
    font-weight: bold;
    line-height: 40px;
    font-family:"arial";
    font-size: 50px;
    font-style: italic;
    color: #ffffff;
    text-shadow: 4px 0px 1px #7c7c7c;
    margin: 0;

    &:hover {
      text-shadow: none;
      color: white;
    }

    span {
      font-style: normal;
      color: white;
      font-size: 0.3em;
      display: block;
      text-shadow: none;
      float: right;
      line-height: 1.4em;
      margin-left: 1.5em;
      width: 110px;

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }

  .navbar-nav {
    font-size: 18px;

    > li a {
      &:link, &:visited {
        color: #fff;
      }
    }

    .dropdown-menu {
      background: white;
      border: $avp-dark-red;
      color: $avp-dark-red;
      border-radius: 0;

      a {
        &:link, &:hover, &:visited {
          color: $avp-dark-red;
        }
      }
    }
  }

  .navbar-collapse {
    @media (max-width: $screen-xs-max) {
      background-color: red;
      z-index: 1000;
      position: relative;
    }
  }
}
.navbar .navbar-inner {
  height: 80px;
  padding: 20px;
  font-size: 18px;
}