#slider {

  background: #c62626 url(../images/source.jpg) repeat 0% 0%;
  background-size: cover;
  position: relative;
  height: 250px;
  line-height: 1;

  .container {
    height: 250px;
  }

  h1 {
    font-size: 55px;

    span {
      font-size: 0.3em;
      display: block;
    }
  }

  .slides {
    li {
      list-style-type: none;

      &:first-child {
        background-image: url(../../images/slider-bg/IMG_0185.jpg);
        background-size: cover;

        h1 {
          background: #fff;
          padding: 2px;
        }
      }
      
      &.video {
        max-height: 250px;
        overflow: hidden;

        .container {
          position: absolute;
          z-index: 10;

          h1, button {
            color: #fff;
          }
        }

        video {
          margin-top: -260px;
        }

        .video-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: 0.5;
        }
      }
    }
  }

  .sub-head {
    color: #ffffff;
  }

  .span6 .heading {
    font-size: 58px;
    color: #ffffff;
    line-height: 64px;
    font-family:"alternate-gothic-no-2-d";
    background: rgba(133, 133, 133, 0.580392);
  }

  .span6-1 {
    padding: 21px;

    .btn-primary {
      background: #942929;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      text-shadow: none;
      border-radius: 3px;
      border: none;
      font-size: 22px;

      &:hover {
        background: red;
      }
    }


  }

  .flex-direction-nav {
    a {
      padding: 0;
      vertical-align: baseline;
      font-size: 100%;
    }
    a:hover {
      color: red;
    }
  }
}