#slider {

  background: #c62626 url(../images/source.jpg) repeat 0% 0%;
  background-size: cover;
  position: relative;
  height: 250px;

  .container {
    height: 250px;
  }

  h1 {
    font-size: 55px;

    span {
      font-size: 0.3em;
      display: block;
    }
  }

  .slides {
    li {
      list-style-type: none;

      &:first-child {
        background-image: url(../../images/bic_l.jpg);
      }
    }
  }

  .sub-head {
    color: #ffffff;
  }

  .span6 .heading {
    font-size: 58px;
    color: #ffffff;
    line-height: 64px;
    font-family:"alternate-gothic-no-2-d";
    background: rgba(133, 133, 133, 0.580392);
  }

  .span6-1 {
    padding: 21px;

    .btn-primary {
      background: #942929;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      text-shadow: none;
      border-radius: 3px;
      border: none;
    }
  }
}