#slogan {
  padding: 60px 0px 60px 0px;
  background: white;

  -webkit-box-shadow: 0 8px 3px -3px #999999;
  box-shadow: 0 8px 3px -3px #999999;

  p {
    font-weight: 300;
    font-size: 22px;
    text-align: center;
  }
}