#smartphones {

  .img {
    text-align: center;

    img {
      border: 1px solid $avp-dark-red;
    }
  }

  .fa {
    color: #800080;
  }


  .process {
    > ul {
      padding-left: 40px;
      list-style-type: none;
      padding: 0;

      > li {
        position: relative;
        margin-bottom: 3em;
        font-size: 20px;

        ul {
          list-style-type: square;
          padding: 0;
          list-style-position: inside;
          list-style-color: red;
        }

        &:before {
          background: $avp-dark-red;
          display: inline-block;
          width: 2em;
          height: 2em;
          color: white;
          position: absolute;
          margin-left: -60px;
          text-align: center;
          line-height: 2em;
          content: '-';
        }

      small {
        display: block;
      }
    }
    }

    h1, button, > p {
      margin-left: -19px;
    }

    > p {
      font-size: 20px;
      margin-bottom: 1em;
    }

    @media (max-width: $screen-md-max) {
      padding-left: 80px;
    }
  }
}