@keyframes changewidth {
  from {
    margin-left: 10px;
    margin-right: auto;
    color: green;
  }

  to {
    margin-left: auto;
    margin-right: 10px;
    color: red;
  }
}

#supported-products {

  h1 {
    background: #B20000;
    color: white;
    padding: 0.5em;
  }

  .row {
    text-align: center;
    font-size: 16px;
  }

  .glyphicon, .fa {
    display: block;
    margin: 0 auto 0.25em auto;
    font-size: 80px;
    color: #b20000;
  }

  .fa {
    animation-duration: 0.1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .col-lg-3 {
    padding: 3px;
    border: 1px solid transparent;

    &:hover {
      background: white;
      border: 1px solid red;
    }
  }

  .coffee:hover .fa {
    color: saddlebrown;
  }
}